<% if flash[:notice] %>
  <div class="notification is-success is-light">
    <button class="delete" aria-label="delete"></button>
    <%= flash[:notice] %>
  </div>
<% elsif flash[:warning] %>
  <div class="notification is-danger">
    <button class="delete" aria-label="delete"></button>
    <%= flash[:warning] %>
  </div>
<% end %>
