<div class="columns">
  <div class="column">
    <h3 class="title">Find Animals Near You</h3>
    <p class="subtitle">Bring Your New Best Friend Home.</p>
  </div>
</div>

<br><br>

<div class="columns is-multiline is-centered is-mobile has-background-light">
  <div class="column is-12 has-text-centered">
    <span class="subtitle is-size-3">Search for Breeder Location</span>
  </div>
  <div class="column is-6 has-text-right">
    <div id="dropdown-city" class="dropdown mr-3">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span id="current-city">Any City</span>
          <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <% @cities.each do | city | %>
            <a href="#" class="dropdown-item has-text-left city-dropdown-select">
              <%= city %>
            </a>
          <% end %>
          <a href="#" class="dropdown-item has-text-left city-dropdown-select">
            Any City
          </a>
        </div>
      </div>
    </div>
    <div id="dropdown-country" class="dropdown">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
          <span id="current-country">Any Country</span>
          <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <% @countries.each do | country | %>
            <a href="#" class="dropdown-item has-text-left country-dropdown-select">
              <%= country %>
            </a>
          <% end %>
          <a href="#" class="dropdown-item has-text-left country-dropdown-select">
            Any Country
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-6">
    <button id="submit-location" class="button is-warning mr-3">Submit</button>
    <button id="reset-location" class="button is-warning is-light">Reset</button>
  </div>
</div>


<div class="columns">
  <div class="column is-12 has-text-right">
    <button class="button is-small is-rounded animal-sort-button sort-name">Sort by Name</button>
    <button class="button is-small is-rounded animal-sort-button sort-breeder_id">Sort by Breeder</button>
    <button class="button is-small is-rounded animal-sort-button sort-animal_type">Sort by Type</button>
    <button class="button is-small is-rounded animal-sort-button sort-breed">Sort by Breed</button>
    <button class="button is-small is-rounded animal-sort-button sort-price">Sort by Price</button>
    <button class="button is-small is-rounded animal-sort-button sort-anticipated_birthday">Sort by Birth</button>
    <button class="button is-small is-rounded animal-sort-button sort-city">Sort by City</button>
    <button class="button is-small is-rounded animal-sort-button sort-country">Sort by Country</button>
  </div>
</div>

<br>

<div class="columns is-mobile is-centered">
  <div class="column is-10">
    <div id="animals-container" class="columns is-multiline is-mobile">
      <%= render partial: "animal_grid", locals: {animals_var: @animals} %>
    </div>
  </div>
</div>


<div class="columns">
  <div class="column has-text-right">
    <%= link_to 'New Animal', new_animal_path, class:"button is-warning is-light" %>
  </div>
</div>
